RewriteEngine On
RewriteBase /agit-portal/
SetEnv APP_URL https://portal.agitsolutionsng.com/agit-portal

# Don't rewrite existing files/directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Route everything to index.php
RewriteRule ^(.*)$ index.php [QSA,L]
